body {
    background-color:#72A684;
    font-family: Arial, Helvetica, sans-serif;
}


/* header stuff */
header {
    color: whitesmoke;
    display: flex;
    flex-flow: row nowrap;
    font-family: 'Permanent Marker', cursive;
    margin: 5rem 5rem 0 5rem;
    justify-content: space-evenly;
}

.header-left {
    display: inline-block;
    flex-basis: 50%;
    margin: 15rem 5rem;

}

header h1 {
    font-size: 5rem; 
    padding: 0;
}

header h2 {
    font-size: 2rem;    
    margin-top: -4rem;
    padding: 0;
}

.header-alt {
    color: whitesmoke;
    display: flex;
    flex-flow: row nowrap;
    font-family: 'Permanent Marker', cursive;
    margin: 5rem 5rem;
    justify-content: space-evenly;
    border-bottom: 1px solid whitesmoke;
}

.header-right {
    flex-basis: 30%;
    margin: 15rem 5rem;
    text-align: center;
    align-content: flex-end;
}
.header-left-alt {
    display: inline-block;
    flex-basis: 50%;
    margin: 1rem 5rem;
}

.header-left-alt h1 {
    font-size: 3rem;
}

.header-left-alt h2{
    font-size: 1rem;
    margin-top: -2.5rem;
}
.header-right-alt {
    flex-basis: 30%;
    margin: 1rem 5rem;
    text-align: center;
    align-content: flex-end;
}

.home-button {
    text-decoration: none;
    color: whitesmoke;
}


/* navigation home*/ 
nav {
    width: 10rem;
    text-align: center;
    margin-top: 4rem;
    border: 2px solid white;
    border-radius: 2rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
nav li {
    margin: 0.5rem;
}

nav a {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    color: whitesmoke;
    cursor: pointer;
    text-decoration: none;
}

nav a::after {
    content: "";
    position: absolute;
}

nav a::after{
    top: 95%;
    height: 3px;
    width: 0;
    left: 5%;
    background-color: #D92E1E;
    transition: 0.2s ease all .2s;
}

nav li:hover a::after {
    width: 90%;
    transition: 0.3s ease all;
}

/* alt nav */

.alter-nav {
    text-align: center;
    margin-top: 4rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    font-size: 1.5rem;
    color: whitesmoke;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    border: none;
}

.alter-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.alter-nav li {
    margin: 0.5rem;  
    display: inline-block;
}

.alter-nav .alt-nav::after {
    content: "";
    position: absolute;
}

.alter-nav .alt-nav::after{
    top: 95%;
    height: 3px;
    width: 0;
    left: 5%;
    background-color: #D92E1E;
    transition: 0.2s ease all .2s;
}

.alter-nav li:hover .alt-nav::after {
    width: 90%;
    transition: 0.3s ease all;
}

/* submenu */
.sub_menu {
    font-size: 1rem;
    
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    text-align: right;
}

.sub_menu ul {
    list-style-type: none;
    
    padding: 0;
    margin: 0 0.5rem 0 0 ;
}
  
.sub_menu li  {
    display: inline-block;
    border: 1px solid #D92E1E;
    border-bottom: none;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 0.5rem 1rem;
}
.sub_menu a{
    text-decoration: none;
    color: whitesmoke;
}

.sub_menu .menu-current, .sub_menu .menu-current a {
    background-color: #F3EEE6;
    color: #D92E1E;
}

.sub_menu a:hover{
    color: darkred;
    text-decoration: underline;
}

/* content stuff */
.content-wrapper {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 10rem; 
    justify-content: space-evenly;
}

.content {
    width: 100%;
    flex-flow: row nowrap;
    flex-basis: 75%;
    margin: 0 auto;
    justify-content: space-around;
    border: 1px solid #D92E1E;
    border-radius: 0.5rem;
    background-color: #F3EEE6;
    padding: 1rem;
}

img {
    content: stretch;
    border: 1px solid #D92E1E;
}

/*  Calculator styles */

.calc-wrapper {
    width: 400px;
    background-color: black;
    color: white;
    display: flex;
    flex-flow: column nowrap;
}

.calc-total{
    font-size: 2.5rem;
    text-align: right;
    padding: 1.5rem 0.5rem;
}

.button-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    
}

.calc-button{
    background-color: #d8d9db;
    color: black;
    height: 100px;
    flex-basis: 25%;
    border: none;
    font-size: 2rem;
    border: 2px solid black;
}

.double {
    flex-basis: 50%;
}

.triple {
    flex-basis: 75%;
}

.calc-button:hover {
    background-color: #ebebeb;
}

.calc-button:active {
    background-color: #bbbcbe;
}

.operator{
    background-color: #df974c;
}

.operator:hover{
    background-color: #dfb07e;
}
.operator:active{
    background-color: #dd8d37;
}


.floatleft {
    float: left;
    margin: 0 1rem 1rem 0;
    overflow: auto;   
}

.floatleft::after {
    content: "";
    clear: both;
    display: table;
}



p {
    width: 70%;
}

.sec-content{
    overflow: auto;
    border-bottom: 1px dotted darkslategray;
    margin-bottom: 1rem;
}



/* Color Theme Swatches in Hex */
.basecolors {
    color: #72A684; 
    color: #BF9004; 
    color: #F2C438;
    color: #D97904;
    color: #D92E1E; 
}
