body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 235, 235);
}
.wrapper{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color: #3D6B13;
    text-align: center;
    height: 7rem;
}
header h1{
    flex-basis: 35%;
    color: #F29F05; 
    font-size: 4rem;
    font-family: 'Indie Flower', cursive;
    margin: 1rem;
    text-decoration: underline;
}
header nav{
    flex-basis: 65%;
    font-size: 0.8rem;
    font-family: 'Indie Flower', cursive;   
    margin-top: 4rem;
    padding: 0;
}

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: 'Indie Flower', cursive;
  }
  
  nav li {
    display: inline-block;

  }
  
  nav a {
    font-size: 1.5rem;
    color: #F29F05;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 0.5rem;
  }
  
  nav a:hover {
    text-decoration: underline;
    color: whitesmoke;
  }

img {
    border-radius:100%
}
cite {
    font-size: 0.7rem;
}
.bigbold {
    font-weight: bold;
    font-size: 1.3rem;
}

.bookExercise {
    background: url(images/paperbg.jpg);
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    border-top: 1px solid black ;
    border-bottom: 1px solid black ;
    border-right: 1px solid black ;
}

h1.bookExercise{
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    
}

blockquote {
    border-left: 10px solid #F28705;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    font-style: italic;
    margin-left: 4rem;
  }

blockquote:before {
    color: #448C30;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
blockquote p {
    display: inline;
  }
#booklist{
    font-style: italic;
    border-left: 5px solid darkslategrey;
}
#bookfooter{
    font-size: 0.7rem;
    font-style: italic;
}
body.bookExercise p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content1 {
    width: 75%;  
    padding-left: 0.5rem;
}

.floatleft {
    float: left;
    border: 5px solid red;
    margin: 0 1rem 1rem 0;   
}

article {
    width: 50rem;
    margin: 0 auto;
}

/*  Calculator styles */

.calc-wrapper {
    width: 400px;
    background-color: black;
    color: white;
    display: flex;
    flex-flow: column nowrap;
}

.calc-total{
    font-size: 2.5rem;
    text-align: right;
    padding: 1.5rem 0.5rem;
}

.button-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;

}

.calc-button{
    background-color: #d8d9db;
    color: black;
    height: 100px;
    flex-basis: 25%;
    border: none;
    font-size: 2rem;
    border: 2px solid black;

}

.double {
    flex-basis: 50%;
}

.triple {
    flex-basis: 75%;
}

.calc-button:hover {
    background-color: #ebebeb;
}

.calc-button:active {
    background-color: #bbbcbe;
}

.operator{
    background-color: #df974c;
}

.operator:hover{
    background-color: #dfb07e;
}
.operator:active{
    background-color: #dd8d37;
}
/* Color Theme Swatches in Hex */
/* Color Theme Swatches in Hex */
.backupcolors{
    color: #730217; 
    color: #F2F2F0;
    color: #F29F05; 
    color: #F28705;
    color: #F25D27;
    color: #AABDB7;
    color: #3D6B13;
}

